body {
  background-color: #633A82;
  background-image: linear-gradient(to left bottom, #40e0d0, #00bcd9, #0094d2, #3a69b5, #633a82);
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Calibri', Verdana, sans-serif;
}

img {
  border-radius: 10px;
}

.background {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to left bottom, #40e0d0, #00bcd9, #0094d2, #3a69b5, #633a82);
  z-index: -100;
}

.content {
  width: 60%;
  margin: auto;
  box-shadow: 2px 2px 6px #333;
}

.heading {
  width: 100%;
  background: #F1FCFC;
  font-size: 2em;
  font-family: 'Century Gothic', Verdana, sans-serif;
  text-align: center;
}

.heading img {
  width: 50%;
  margin: auto;
  padding: 20px 0px;
}

.navBar {
  position: sticky;
  background: #9ce4c4;
  color: white;
  font-size: 14px;
  font-weight: bold;
  top: 0;
  width: 100%;
  box-shadow: 1px 4px 6px #333;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navBar li {
  float: left;
  width: 25%;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover {
  background-color: #633A82;
}

.main {
  width: 100%;
  background: #F1FCFC;
  margin: auto;
  padding: 5%;
}

.main form {
  width: 70%;
  padding: 10px;
}

.main form input {
  border: 1px solid #333;
  border-radius: 25px;
  min-width: 120px;
  padding: 5px;
  margin-bottom: 5px;
}

.main form label {
  display: inline-block;
  min-width: 80px;
  padding: 5px;
  margin-bottom: 5px;
}

.splash_image {
  width: 100%;
}

.splash_image img {
  width: 100%;
}

.button {
  background: #9ce4c4;
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 2px #333;
  border-radius: 2px;
}

.button:hover {
  background: #633A82;
  cursor: pointer;
  box-shadow: 0px 0px 0px #333;
}

.left {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.right {
  display: inline-block;
  float: right;
  margin-left: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.small {
  width: 30%;
}

.large {
  width: 60%;
}

.footer {
  width: 60%;
  min-height: 200px;
  background: #333;
  color: #ccc;
  padding: 0px 20%;
}

.footer ul {
  list-style-type: none;
  padding: 5px 0px;
}

.footer li {
  padding: 5px 0px;
}